.outerBox{
  width: 90%;
  height: 70%;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movieImage{
  width: 30%;
  height: 85%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
  border-radius: 5px;
  margin: 1.5% ;
  position: absolute;
  left: 0;
}

.movieRating{
  width: 7%;
  height: 5%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  bottom: 5%;
  left: 1.5%;
  text-align: center;
}

.movieRating p{
  font-size:1vw;
  line-height: 0;
}

.movieReleaseDate{
  width: 15%;
  height: 5%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  bottom: 5%;
  left: 10%;
  text-align: center;
}

.movieReleaseDate p{
  font-size: 1vw;
  line-height: 0;
}

.movieName{
  width: 20%;
  height: 5%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  text-align: left;
  padding-left:.5%;
  top: 4%;
  left: 32%;
}

.movieName p{
  font-size: 1vw;
  line-height: 0;
}

.reviewTitle{
  width: 20%;
  height: 5%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  text-align: left;
  padding-left:.5%;
  top: 11%;
  left: 32%;
}

.reviewTitle p{
  font-size: 1vw;
  line-height: 0;
}

.reviewRating{
  width: 15%;
  height: 5%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  text-align: left;
  padding-left:.5%;
  top: 11%;
  left: 53%;
}

.reviewRating p {
  font-size: 1vw;
  line-height: 0;
}

.review{
  width: 67%;
  height: 71%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  text-align: left;
  padding-left:.5%;
  top: 18%;
  left: 32%;
}

.review p{
  font-size: 1vw;
  line-height: 0;
}

.reviews {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 95%;
    padding: 16px;
    text-align: center;
  }


/* Style the search box inside the navigation bar */
.reviews input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid black;   
  }

.reviews .search-container button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: white;
    border-color: white;
    margin: 0 0.25rem 0 0.25rem;
}

.reviews .search-container button:hover {
    color: #fff;
    background-color: #00998c;
    border-color: #00998c;
}
  
  .title{
    text-align: center;
  }


