* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #00665e;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
}

.nav a {
  color: inherit;
}

.nav button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
  border-color: white;
}

.nav button:hover {
  color: #fff;
  background-color: #00998c;
  border-color: #00998c;
}

.search-bar {
  margin: 0.25rem 1rem 0.5rem;
  border-color: white;
  height: 30px;
  width: 50vw;
  max-width: 1000px;
  border-radius: 0.25rem;
  font-size: 1rem;
  outline: 0;
  padding-left: 10px;
  padding-top: 4px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: black;
}

.popup h1 {
  font-size: xx-large;
  color: #00998c;
  text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000,
  .5px .5px 0 #000;
}

.popup p {
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

.popup button {
  background-color: #00665e;
  margin: 1rem 0.25rem 0.5rem 0;
}

.popup .btn-active {
  background-color: #00998c;
}

.popup input {
  border-radius: .25rem;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  margin-bottom: 0.5rem;
}

.popup .review-search {
  margin-left: 2.3rem;
}

.popup .movie-search {
  margin-left: 1rem;
  
}

.popup .max,
.min {
  margin-top: 0.5rem;
  width: 38px;
}

@media (max-width: 940px) {
  .nav .advanced-btn,
  .nav .popup {
    display: none;
  }
}

@media (max-width: 750px) {
  .nav .logo {
    display: none;
  }
}
